{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container" style="background-color:burlywood; padding:20px; margin-top:0px; padding-top:40px; padding-bottom:400px;">
        <div class="row" style="text-align:center; font-size:30px;">
            <span style="font-size:40px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Online Blog Application</span>
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <div class="panel style="style="border: 3px solid #f2f2f2; padding:20px; margin-top:10px;">
                <p style="font-family: Arial, Helvetica, sans-serif; font-size:20px;">Write your blog  and let other users comment on it. </p>
                
                <div style="text-align:center; font-size:20px;">
                    <a href="{{url_for('main.new_blog')}}">
                        <br>
                        <span >Add a new Blog</span>
                    </a>

                </div>
               
            </div>
            <div class="container">
                {%for blog in inkoko%}
             <table>
                 <tr>
                     <td>{{blog.blog_title}}</td> <br>
                     
                     <td>{{blog. blog_content}} <button type="button" class="btn btn-info"><a href="{{url_for('main.form')}}">comment</a></button></td> 
                 </tr>
                 <tr>
                    {%for utwana in imishwi%}
                     <td>{{utwana.comment}}</td> <br>
                     {%endfor%} 
                 </tr>
                 
             </table>

                {%endfor%}
            </div>
        
        </div>
    </hr>
        <div class="all-pitches">
            <span style="color:brown;"></span>
                <hr> 
                {{macro.displayBlogs(blogs)}}<br>

                
               

        </div>
       

    </div>
    


{% endblock %}