
<div class="container">
        <div class="col-md-3 col-lg-3 col-xl-3">   
            <h1>{{viewcomment.comment}}</h1>
            {%for inkoko in byose%}
            <h1>{{inkoko.comment}}</h1>
            {%endfor%}
            <a href="/delete_viewcomment/{{viewcomment.id}}" class="btn btn-primary pull-right" style="margin-bottom:60px;">Delete Comments</a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
               
                
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3"> 
                
        </div>

</div>

